@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 500ms ease-out both;
}

.animate-fadeInlong {
  animation: fadeIn 1200ms ease-out both;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-6px);
  }
}

.animate-fadeJump {
  animation-name: fadeIn, jump;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: both, both;
  animation-direction: normal, alternate;
}

@media (prefers-reduced-motion: reduce) {
  .animate-fadeIn {
    animation: none;
  }

  .animate-fadeJump {
    animation: none;
  }
}




@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}


@keyframes scan {
  0% {
    transform: translateX(-100px) skewX(-45deg);
  }
  100% {
    transform: translateX(calc(100vw + 100px)) skewX(-45deg);
  }
}

.animate-scan {
  animation: scan 3s linear infinite;
}

@keyframes ribbon {
  from {
    left: -40px;
  }
  to {
    left: calc(100% + 40px);
  }
}

.animate-ribbon {
  animation: ribbon 2s linear infinite;
}
